.equipo{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 13px;
    border-radius: 10px;
    background-color: #0f2133;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;

}

.titulo-equipo{
    color: #dfd4d4;
    font-size: 30px;
    font-family: Roboto Slab, sans-serif;
    font-weight: 700;
    margin-top: 1px;
}


.logo-footer{
    padding-top: 2px;
    width: 30%;
    height: 30%;
    margin-left: 350px; 
}

.titulo-footer{
    margin-left: 300px;
}